.name-cell {
  text-transform: capitalize;
  background-color: #00adb5;
}
.empImage {
  border: 1px solid black;
  border-radius: 100px;
  box-shadow: 0 0 20px 5px black;
  justify-content: center;
  margin: 50px;
}
.employee {
  display: flex;
  justify-content: center;
}
.info{
  font-size: x-large;
}

.rowHover:hover{
  background-color: #fae3d9;
  border: 0px solid black;
  box-shadow: 0 0 50px 2px black;
}
