.name-cell {
  text-transform: capitalize;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  background-color: #00adb5;
}
.empImage {
  border-radius: 100px;
  box-shadow: 0 0 20px 5px #252a34;
  justify-content: center;
  margin: 40px;
}
.employee {
  display: flex;
  justify-content: center;
  background-color: #00adb5;
}
.info {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

.rowHover:hover {
  background-color: #fae3d9;
  box-shadow: 0 0 30px 2px #52616b;
}
